<!DOCTYPE html>
<html>
	<head>
		<head th:replace="~{cabecalho :: head}"></head>
	</head>
	
	<body>
		
		<div th:replace="~{cabecalho :: logo}"></div>
		
		<div class="container">
			
			<div th:replace="~{cabecalho :: titulo('Novo Pedido')}">
				
			</div>
			
			<div class="card">
				<form th:object="${novoPedidoDTO}" action="/pedido/novo" method="POST" class="card-body">
					<div class="form-group">
						<label for="nomeProduto">Produto</label>
						<input th:field="*{nomeProduto}" class="form-control is-invalid" placeholder="Nome do produto"/>
						<small class="blockquote-footer">Informar o nome do produto</small>
						
						<div class="invalid-feedback" th:errors="*{nomeProduto}">
							Erros do nome do produto
						</div>
					</div>
					
					<div class="form-group">
						<label for="urlProduto">URL</label>
						<input th:field="*{urlProduto}" class="form-control is-invalid"  placeholder="URL do produto"/>
						<small class="blockquote-footer">Informar a URL do produto</small>
						
						<div class="invalid-feedback" th:errors="*{urlProduto}">
							Erros da URL do produto
						</div>
					</div>
					
					<div class="form-group">
						<label for="urlImagem">Imagem</label>
						<input th:field="*{urlImagem}" class="form-control is-invalid"   placeholder="URL a imagem do produto"/>
						<small class="blockquote-footer">Copie a URL de uma boa imagem do produto</small>
						
						<div class="invalid-feedback" th:errors="*{urlImagem}">
							Erros da URL da imagem
						</div>
					</div>
					
					<div class="form-group">
						<label for="descricao">Descrição</label>
						<textarea  th:field="*{descricao}" class="form-control is-invalid" placeholder="Adicione detalhes importantes do produto"></textarea>
					</div>
					
					<div class=" d-flex justify-content-center">
						<button type="submit" class="btn btn-primary btn-lg mt-3">Salvar</button>						
					</div>
				</form>
			</div>
		</div>
	</body>
</html>